#spring:
#  config:
#    import: optional:file:./external-config.yml
server:
  port: 9875

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    druid:
      driver-class-name: ${board.datasource.driver-class-name}
      url: jdbc:mysql://${board.datasource.host}:${board.datasource.port}/${board.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=UTF-8
      username: ${board.datasource.username}
      password: ${board.datasource.password}
  redis:
    host: ${board.redis.host}
    port: ${board.redis.port}
    database: ${board.redis.database}
    password: ${board.redis.password}

mybatis:
  #mapper配置文件
  mapper-locations: classpath:com/zzuli/mapper/*.xml
  type-aliases-package: zzuli.pojo
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true




logging:
  config: classpath:log4j2.xml
#  level:
#    zzuli:
#      mapper: debug


zzuli:
  jwt:
    # 设置jwt签名加密时使用的秘钥
    admin-secret-key: zzuli
    # 设置jwt过期时间
    admin-ttl: 7200000
    # 设置前端传递过来的令牌名称
    admin-token-name: BoardSession

task:
  frequency:
    getRecord: 5
    start: 120


