<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.ClassMapper">

    <insert id="createClass">
        insert into classes (college_id,class_name,class_count) values (#{collage_id},#{name},#{count})
    </insert>

    <update id="setClass">
        update classes
        <set>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="classCount != null">
                class_count = #{classCount},
            </if>
        </set>
        where class_id = #{classId}
    </update>
    <delete id="deleteClass">
        delete from classes where class_id = #{classId}
    </delete>
    <delete id="deleteClassByCollageId">
        delete from classes where college_id = #{collageId}
    </delete>
    <select id="list" resultType="zzuli.pojo.entity.Clazz">
        select * from classes where college_id = #{collageId}
    </select>

</mapper>
