<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.CollageMapper">


    <insert id="createCollage">
        insert into colleges (school_id,college_name) values (#{school_id},#{name})
    </insert>
</mapper>
