<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.CollageMapper">


    <insert id="createCollage">
        insert into colleges (school_id,college_name) values (#{school_id},#{name})
    </insert>
    <update id="setCollage">
        update colleges set college_name = #{name} where college_id = #{collageId}
    </update>
    <delete id="deleteCollageByClassId">
        delete from colleges where college_id = #{collageId}
    </delete>
    <delete id="deleteCollageBySchoolId">
        delete from colleges where school_id = #{schoolId}
    </delete>
    <select id="getCollage" resultType="java.lang.String">
        select college_name from colleges where school_id = #{school_id}
    </select>
    <select id="getCollageName" resultType="java.lang.String">
        select college_name from colleges where college_id = #{collageId}
    </select>
    <select id="getCollageIdsBySchoolId" resultType="java.lang.Integer">
        select college_id from colleges where school_id = #{schoolId}
    </select>
    <select id="list" resultType="zzuli.pojo.entity.College">
        select * from colleges where school_id = #{schoolId}
    </select>
</mapper>
