<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.ContestMapper">
    <insert id="saveTeam" keyProperty="teamId">
        insert into teams ( team_name, team_coach, team_class,contest_id) values
        ( #{teamName}, #{teamCoach}, #{teamClass}, #{contestId});
    </insert>

    <insert id="saveMember">
        insert into members (team_id, contest_id,member_id,member_name,member_school,member_college,member_class,official) values
        (#{teamId}, #{contestId},#{memberId},#{memberName},#{memberSchool},#{memberCollege},#{memberClass},#{official});
    </insert>
    <insert id="createContest">
        insert into contests (contest_id, contest_type, PTASession, Jsession, title, reg_type,reg_start_time,reg_end_time,reg_off_code,reg_unoff_code,banner,penalty,frozen,frozen_time,balloon_color,school_list) values
        (#{id}, #{type}, #{PTASession}, #{Jsession}, #{title}, #{reg_type}, #{reg_start_time}, #{reg_end_time}, #{reg_off_code}, #{reg_unoff_code}, #{banner}, #{penalty}, #{frozen}, #{frozen_time}, #{S_balloon_color}, #{S_school_list});
    </insert>
    <update id="setContest">
        update contests
        <set>
            <if test="dto.id != null"> contests_id = #{dto.id},</if>
            <if test="dto.type != null">contest_type = #{dto},</if>
            <if test="dto.PTASession != null">PTASession = #{dto.PTASession},</if>
            <if test="dto.jsession != null">Jsession = #{dto.jsession},</if>
            <if test="dto.title != null">title = #{dto.title},</if>
            <if test="dto.reg_Type != null">reg_type = #{dto.reg_Type},</if>
            <if test="dto.reg_start_time != null">reg_start_time = #{dto.reg_start_time},</if>
            <if test="dto.reg_end_time != null">reg_end_time = #{dto.reg_end_time},</if>
            <if test="dto.reg_off_code != null">reg_off_code = #{dto.reg_off_code},</if>
            <if test="dto.reg_unoff_code!= null">reg_unoff_code = #{dto.reg_unoff_code},</if>
            <if test="dto.banner != null">banner = #{dto.banner},</if>
            <if test="dto.penalty != null">penalty = #{dto.penalty},</if>
            <if test="dto.frozen != null">frozen = #{dto.frozen},</if>
            <if test="dto.frozen_time != null">frozen_time = #{dto.frozen_time},</if>
            <if test="dto.balloon_color != null">balloon_color = #{dto.balloon_color},</if>
            <if test="dto.school_list != null">school_list = #{dto.school_list},</if>
        </set>
        where contest_id = #{contestId}
    </update>
    <update id="setProblemList">
        update contests
        set problem_list = #{problemList}
        where contest_id = #{contestId}
    </update>
    <delete id="deleteContest">
        delete from contests where contest_id = #{contestId};
    </delete>


    <select id="list" resultType="zzuli.pojo.entity.Contest">
        select * from contests;
    </select>
    <select id="getContestById" resultType="zzuli.pojo.entity.Contest">
        select * from contests where contest_id = #{id};
    </select>
    <select id="getAllContest" resultType="zzuli.pojo.entity.Contest">
        select * from contests;
    </select>
    <select id="getPTASession" resultType="zzuli.pojo.entity.PTASession">
        select PTASession,Jsession from contests where contest_id = #{contestId};
    </select>
</mapper>
