<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.RecordMapper">
    <insert id="addRecord">
        insert into records (contest_id, member_id, record_id, problem_id, record_status, record_score, record_language, submit_time)
        values (#{contestId}, #{memberId}, #{id}, #{problemSetProblemId}, #{status}, #{score}, #{compiler}, #{submitAt})
    </insert>

    <insert id="addRecords">
        insert into records (contest_id, member_id, record_id, problem_id, record_status, record_score, record_language, submit_time)
        values
        <foreach collection="list" item="record" separator=",">
            (#{record.contestId}, #{record.memberId}, #{record.id}, #{record.problemSetProblemId}, #{record.status}, #{record.score}, #{record.compiler}, #{record.submitAt})
        </foreach>
    </insert>

    <delete id="deleteAllBycontestId">
        delete from records where contest_id = #{contestId}
    </delete>
    <select id="getNumByContestId" resultType="java.lang.Integer">
        select count(record_id) from records where contest_id = #{contestId}
    </select>
    <select id="getRecordByContestId" resultType="zzuli.pojo.entity.Record">
        select * from records where contest_id = #{contestId}
    </select>
    <select id="getRecordByContestIdAndMemberIdAndProblemId" resultType="zzuli.pojo.entity.Record">
        select * from records where contest_id = #{contestId} and member_id = #{studentNumber} and problem_id = #{problemSetProblemId}
    </select>
</mapper>
