<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.RoomMapper">
    <insert id="createRoom">
        insert into rooms (room_name, room_size, room_id)
        values (#{roomName}, #{roomSize}, #{roomId})
    </insert>
    <update id="setRoom">
        update rooms
        <set>
            <if test="DTO.name != null">
                room_name = #{DTO.name},
            </if>
            <if test="DTO.size != null">
                room_size = #{DTO.size},
            </if>
        </set>
        where room_id = #{roomId}
    </update>
    <delete id="deleteRoom">
        delete from rooms
        where room_id = #{roomId}
    </delete>

    <delete id="deleteRoomByContestID">
        delete from rooms
        where contest_id = #{contestId}
    </delete>


    <select id="list" resultType="zzuli.pojo.entity.Room">
        select * from rooms;
    </select>
</mapper>
