<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zzuli.mapper.TeamMapper">
    <update id="setTeam">
        update teams
        <set>
            <if test="name != null">
                team_name = #{name},
            </if>
            <if test="coach != null">
                team_coach = #{coach},
            </if>
            <if test="collage!= null">
                team_college = #{collage},
            </if>
            <if test="clazz != null">
                team_class = #{clazz},
            </if>
            <if test="official != null">
                official = #{official},
            </if>
        </set>
        where team_id = #{teamId}
    </update>
    <delete id="delTeam">
        delete from teams
        where team_id = #{teamId}
    </delete>
    <delete id="delTeamFormContest">
        delete from teams
        where contest_id = #{contestId}
    </delete>

    <select id="getListByContestId" resultType="zzuli.pojo.entity.Team">
        select * from teams where contest_id = #{contestId}
    </select>
</mapper>
